* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
main {
    background-color: black;
    overflow-x: hidden;
}
main ul {
    list-style-type: none;
    width: 15em;
    height: 15em;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    overflow: hidden;
    justify-content: space-around;
}
li a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}
li a:hover {
    color: white;
    background-color: black;
    text-decoration: overline;
}
body {
    margin-top: 5px;
}
section {
    width: 65vw;
    height: 100vh;
    padding: 10px;
    margin: auto;
    border: 0;
}
#home {
    background-color: bisque;
}
#home h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    margin-top: 0.5em;
}
.paragraph {
    width: 50vw;
    display: inline-block;
    word-wrap: break-word;
    padding-top: 10px;
    padding-left: 10em;
    font-size: 1.16em;
    line-height: 1.6em;
    color: rgb(82, 81, 78);
    font-family: 'Comfortaa', cursive;

}
.images {
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
}
.hide,.hide1,.hide2 {
    display: none;
}
.click,.clickable,.clicked {
    color: #FFBD33 ;
    cursor: cell ;
}
.hide p,.hide1 p,.hide2 p {
    font-family: 'Comfortaa', cursive;
    line-height: 1.4em;
    padding-left: 10px;
}
#pirates {
    background-color: crimson;
}
.inner-pirates {
    align-items: center;
    height: 60vh;
    margin-top: 5em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.pirates-title {
    height:10%;
    margin-top: 1em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
}
.pirates-title h1 {
    text-align: center;
    padding-top: 0.3em;
    font-size: 4.5em;
    font-family: 'Pirata One', cursive;
    text-shadow: 5px 5px 5px gold;
}
.pirates-search {
    background-color: black;
    height: 40%;
    margin-top: 2em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;  
}
#search {
    width: 30vw;
    margin-left: 2em;
    margin-top: 3em;
    align-items: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
    font-family: 'Pirata One', cursive;
}
#click {
    font-size: 1.5em;
    font-family: 'Pirata One', cursive;
}
.click1 {
    font-size: 1.5em;
    margin-left: 0.4em;
    font-family: 'Pirata One', cursive;
}
.pirates-result {
    background-color: gold;
    height: 30%;
    margin-top: 1.5em;
    border-radius: 2em;
    box-shadow:10px 10px 10px black;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
    font-size: 2em;
    text-align: center;
    padding-top: 1.3em;
    font-family: 'Pirata One', cursive;
}
#minions {
    background-color: #FFD55E;
}
.minion-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 2em;
    text-align: center;
}
.minion-content h1 {
    font-size: 4em;
    font-family: 'Happy Monkey', cursive;
}
.minion-search {
    background-color: #5E88FF;
    height: 25%;
    margin-top: 2em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
}

#search-minion {
     width: 30vw;
    margin-left: 2em;
    margin-top: 3em;
    align-items: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
    font-family: 'Happy Monkey', cursive;
}
.clickButton {
    font-size: 1.5em;
    font-family: 'Happy Monkey', cursive;
}
#clickButton {
    font-size: 1.5em;
    font-family: 'Happy Monkey', cursive;
    margin-left: 0.4em;
}
#minion-result {
    background-color: black;
    height: 20%;
    margin-top: 1.5em;
    border-radius: 2em;
    box-shadow: 5px 5px 5px #5E88FF ;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
    font-size: 1.5em;
    text-align: center;
    padding-top: 2em;
    font-family: 'Happy Monkey', cursive;
    color: #FFD55E;
}
#shakespeare {
   background-image: url(/images/vintage-old.jpg);
}
.shake-title {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Smythe', cursive;
    color: #D8B370;
}
.shake-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}
.shake-image img {
    image-rendering: pixelated;
    image-resolution:initial;
}
.shake-search {
    background-color: #6A423D;
    box-shadow: 8px 8px 8px black;
    height: 18%;
    margin-top: 1em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
}
#search-shake {
    width: 30vw;
    margin-left: 2em;
    margin-top: 1em;
    align-items: center;
    border-radius: 2em;
    font-size: 1.2em;
    padding: 1em;
    font-family: 'Smythe', cursive;
}
.button {
    font-size: 1.5em;
    font-family: 'Smythe', cursive;
}
#button {
     font-size: 1.5em;
    font-family: 'Smythe', cursive;
    margin-left: 0.4em;
}
.shake-result {
    background-color: #9C8170;
    margin-top: 1em;
    border-radius: 2em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
    font-size: 2em;
    text-align: center;
    padding-top: 0.3em;
    font-family: 'Smythe', cursive;
    color: white;
    font-weight: 25px;
    height: 11%;
}
button {
    font-size: 1.3em;
}
#form {
    background-color: bisque
}
.feedback {
    align-items: center;
    background-color: black;
    border: 3px solid white;
    height: 80vh;
    margin-top: 5em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    border-radius: 1.3em;
}   
form input {
    font-size: 1.2em;
    border-radius: 1.5em;
    font-family: 'Comfortaa', cursive;
    padding: 15px;
    text-align: center;
    background-color: bisque;
    font-weight: bolder;
}
form textarea {
    border-radius: 1.1em;
    padding-left: 15px;
    padding-top: 15px;
    background-color: bisque;
}
form button {
    border-radius: 15px;
}
@media  screen and (min-width: 500px) and (max-width: 900px){
    #home h1 {
        text-align: center;
        font-size: 2em;
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
        margin-top: 0.5em;
        }
    main ul {
        list-style-type: none;
        width: 5em;
        height: 15em;
        background-color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        opacity: 0.7;
        overflow: hidden;
        justify-content: space-around;
        }
    li a{
        display: block;
        color: black;
        padding: 3px;
        text-decoration: none;
        text-align: center;
        font-size: 0.5em;
        }    
    .paragraph {
        width: 60vw;
        display: inline-block;
        word-wrap: break-word;
        padding-top: 10px;
        padding-left: 6em;
        font-size: 1.2em;
        line-height: 1.4em;
        color:black;
        font-family: 'Comfortaa', cursive;   
        } 
    .images {
       display: none;
        }   
    .paragraph blockquote {
        visibility: hidden;
    }         
    .hide p,.hide1 p,.hide2 p {
        font-family: 'Comfortaa', cursive;
        line-height: 1em;
        padding-top: 5px;
        }
    .inner-pirates {
        align-items: center;
        height: 60vh;
        margin-top: 4em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        }
    .pirates-title {
        height:10%;
        margin-top: 1em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
            }
    .pirates-title h1 {
        text-align: center;
        padding-top: 0.3em;
        font-size: 3em;
        font-family: 'Pirata One', cursive;
        text-shadow: 5px 5px 5px gold;
        } 
    .pirates-search {
        background-color: black;
        height: 40%;
        margin-top: 2em;
        border-radius: 3em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
}
    .search {
        width: 30vw;
        margin-left: 2em;
        margin-top: 3em;
        align-items: center;
        border-radius: 2em;
        font-size: 1em;
        padding: 1em;
        font-family: 'Pirata One', cursive;
}
    #click {
        font-size: 1em;
        margin-left: 1.3em;
        font-family: 'Pirata One', cursive;
}  
     .minion-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 2em;
        text-align: center;
        }
    .minion-content h1 {
        font-size: 1em;
        font-family: 'Happy Monkey', cursive;
        padding-left: 0.8em;
        }
    .minion-search {
        background-color: #5E88FF;
        height: 25%;
        margin-top: 2em;
        border-radius: 3em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
        }
    .search-minion {
        width: 30vw;
        margin-left: 2em;
        margin-top: 3em;
        align-items: center;
        border-radius: 2em;
        font-size: 1em;
        padding: 1em;
        font-family: 'Happy Monkey', cursive;
        } 
    .shake-title {
        text-align: center;
        font-size: 1em;
        font-family: 'Smythe', cursive;
        }
        .shake-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.5em;
        }
        .shake-image img {
        image-rendering: pixelated;
        image-resolution:initial;
        }   
        .shake-search {
        background-color: #D8B370;
        box-shadow: 8px 8px 8px black;
        height: 15%;
        margin-top: 1em;
        border-radius: 3em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
        }
    .search-shake {
        width: 30vw;
        align-items: center;
        border-radius: 2em;
        font-size: 0.5em;
        padding: 1em;
        font-family: 'Smythe', cursive;
        margin-top: 0;
}
    .shake-result {
        background-color: #665541;
        height: 8%;
        border-radius: 2em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Smythe', cursive;
}
        .button {
        font-size: 0.6em;
        font-family: 'Smythe', cursive;
        margin-top: 0.5em;
        margin-left: 0.5em;
}   
    #form {
        background-color: bisque;
        }
    .feedback {
        align-items: center;
        background-color: black;
        border: 3px solid white;
        height: 70vh;
        margin-top: 5em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
}
    form {
        font-family: 'Comfortaa', cursive;
        font-size: 0.5em;
        border-radius: 1.3em;
        margin-left: 8em;
        align-items: center;
    }   
    form input {
        font-size: 0.5em;
        border-radius: 1.5em;
        font-family: 'Comfortaa', cursive;
        padding: 15px;
        text-align: center;
        background-color: white;
        color:black;
        font-weight: bolder;
    }
    form textarea {
        border-radius: 1.1em;
        padding-left: 15px;
        padding-top: 15px;
        background-color: black;
        color: white;
    }
    form button {
        border-radius: 15px;
        margin-left: 1.3em;
    }
    .click1 {
    font-size: 1em;
    margin-left: 0.4em;
    font-family: 'Pirata One', cursive;
}
#clickButton {
    font-size: 1em;
    font-family: 'Happy Monkey', cursive;
    margin-left: 0.4em;
}#button {
     font-size: 1em;
    font-family: 'Smythe', cursive;
    margin-left: 0.4em;
}
}
@media  screen and (min-width: 901px) and (max-width: 1580px) {
     #home h1 {
        text-align: center;
        font-size: 3em;
        font-family: 'Comfortaa', cursive;
        text-decoration: none;
        margin-top: 0.5em;
        }
    .paragraph {
        width: 60vw;
        display: inline-block;
        word-wrap: break-word;
        padding-top: 10px;
        padding-left: 6em;
        font-size: 1.2em;
        line-height: 1.1em;
        color:black;
        font-family: 'Comfortaa', cursive;   
        } 
    .images img {
        width: 150px !important;
        height: 150px !important;
    }   
    .pirates-title h1 {
        text-align: center;
        padding-top: 0.3em;
        font-size: 3em;
        font-family: 'Pirata One', cursive;
        text-shadow: 5px 5px 5px gold;
        }  
    .minion-content h1 {
        font-size: 3em;
        font-family: 'Happy Monkey', cursive;
        padding-left: 0.8em;
        }
       .shake-title {
        text-align: center;
        font-size: 3em;
        font-family: 'Smythe', cursive;
        }
        .shake-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.5em;
        }
        .shake-image img {
        image-rendering: pixelated;
        image-resolution:initial;
        width:300px !important;
        height: 300px !important;
        }   
        .shake-search {
        background-color: #D8B370;
        box-shadow: 8px 8px 8px black;
        height: 18%;
        margin-top: 1em;
        border-radius: 3em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
        }
    .search-shake {
        width: 30vw;
        align-items: center;
        border-radius: 1.4em;
        font-size: 0.5em;
        padding: 0.5em;
        font-family: 'Smythe', cursive;
        margin-top: 0;
}
    .shake-result {
        background-color: #665541;
        height: 8%;
        border-radius: 2em;
        margin-inline-end: 1.5em;
        margin-inline-start: 1.5em;
        font-size: 1.5em;
        text-align: center;
        font-family: 'Smythe', cursive;
}
    .button {
        font-size: 1em;
        font-family: 'Smythe', cursive;
        margin-left: 0.5em; 
}
    #button {
        font-size: 1em;
        font-family: 'Smythe', cursive;
        margin-left: 0.4em;
}
     main ul {
        list-style-type: none;
        width: 11em;
        height: 15em;
        background-color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
        opacity: 0.8;
        overflow: hidden;
        justify-content: space-around;
        }
    li a{
        display: block;
        color: black;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 1em;
        } 
    li a:hover {
        color: white;
        background-color: black;
        text-decoration: overline;
    } 
    .hide p,.hide1 p,.hide2 p {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        line-height: 1em;
        padding-left: 10px;
    }
}
