* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
main {
    background-color: black;
}
main ul {
    list-style-type: none;
    width: 15em;
    height: 15em;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    overflow: hidden;
    justify-content: space-around;
}
li a{
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}
li a:hover {
    color: white;
    background-color: black;
    text-decoration: overline;
}
body {
    margin-top: 5px;
}
section {
    width: 65vw;
    height: 100vh;
    padding: 10px;
    margin: auto;
    border: 0;
}
#home {
    background-color: bisque;
}
#home h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    margin-top: 0.5em;
}
.paragraph {
    width: 50vw;
    display: inline-block;
    word-wrap: break-word;
    padding-top: 10px;
    padding-left: 10em;
    font-size: 1.16em;
    line-height: 1.6em;
    color: rgb(82, 81, 78);
    font-family: 'Comfortaa', cursive;

}
.images {
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
}
.hide,.hide1,.hide2 {
    display: none;
}
.click,.clickable,.clicked {
    color: #FFBD33 ;
    cursor: cell ;
}
.hide p,.hide1 p,.hide2 p {
    font-family: 'Comfortaa', cursive;
    line-height: 1.4em;
    padding-left: 10px;
}
#pirates {
    background-color: crimson;
}
.inner-pirates {
    align-items: center;
    height: 60vh;
    margin-top: 5em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.pirates-title {
    height:10%;
    margin-top: 1em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
}
.pirates-title h1 {
    text-align: center;
    padding-top: 0.3em;
    font-size: 3.5em;
    font-family: 'Pirata One', cursive;
    text-shadow: 5px 5px 5px gold;
}
.pirates-search {
    background-color: black;
    height: 40%;
    margin-top: 2em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
    
}
.search {
    width: 30vw;
    margin-left: 2em;
    margin-top: 3em;
    align-items: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
    font-family: 'Pirata One', cursive;
}
#click {
    font-size: 1.5em;
    margin-left: 1.3em;
}
.pirates-result {
    background-color: gold;
    height: 30%;
    margin-top: 1.5em;
    border-radius: 2em;
    box-shadow:10px 10px 10px black;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
    font-size: 1.5em;
    text-align: center;
    padding-top: 2em;
    font-family: 'Pirata One', cursive;
}
#minions {
    background-color: #FFD55E;
}
.minion-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 2em;
    text-align: center;
}
.minion-search {
    background-color: #5E88FF;
    height: 25%;
    margin-top: 2em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
}
.search-minion {
     width: 30vw;
    margin-left: 2em;
    margin-top: 3em;
    align-items: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
}
.clickButton {
    font-size: 1.5em;
}
.minion-result {
    background-color: aquamarine;
    height: 20%;
    margin-top: 1.5em;
    border-radius: 2em;
    box-shadow: 5px 5px 5px black;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
    font-size: 1.5em;
    text-align: center;
    padding-top: 2em;
}
#shakespeare {
   background-image: url(/images/vintage-old.jpg);
}
.shake-title {
    text-align: center;
}
.shake-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}
.shake-image img {
    image-rendering: pixelated;
    image-resolution:initial;
}
.shake-search {
      background-color: #5E88FF;
    height: 25%;
    margin-top: 3em;
    border-radius: 3em;
    margin-inline-end: 1.5em;
    margin-inline-start: 1.5em;
}
.search-shake {
    width: 30vw;
    margin-left: 2em;
    margin-top: 3em;
    align-items: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
}
.button {
    font-size: 1.5em;
}
#form {
    background-color: white;
}
.feedback {
    align-items: center;
    background-color: black;
    border: 3px solid white;
    height: 70vh;
    margin-top: 8em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}